
<tr><th>Access Token</th><td>{{data.accessToken}}</td></tr><br>
<tr><th>Refresh Token</th><td>{{data.refreshToken}}</td></tr>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://localhost:3000/javascripts/pubsub.js"></script>
{{!-- TODO: Add the AlertBox Logic, Sub to Topic, Refresh token --}}